{% extends "trainings/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Trainings
{% endblock title %}

{% block content %}
    <a href="{% url 'trainings:add' %}">Add a new trainingsession</a>

    <h2>
        My location: {{ myLocation }} ({{ myLat}}, {{ myLng }})
    </h2>
    <br>
    {{ map|safe }}


    <form action="{% url 'trainings:index' %}" method="POST">
        {% csrf_token %}
        <div>
            <button type="submit" name="timePeriod" value="week">This week</button>
            <button type="submit" name="timePeriod" value="month">This month</button>
            <button type="submit" name="timePeriod" value="noLimit">All upcoming</button>
        </div>
        <label for="sportFilter">Filter for sport:</label><br>
        <input type="text" id="sportFilter" value="sport"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <table class=table>
        <tr>
            <th>Sport</th>
            <th>Location</th>
            <th>Time</th>
            <th>Distance</th>
        </tr>
        {% for training in distanceSet %}
        <tr>
            <td>
                <a href="{% url 'trainings:training' training.id %}">
                    {{ training.sport }}
                </a>
            </td>
            <td>{{ training.adress }}</td>
            <td>{{ training.date }}</td>
            <td>{{ training.distance.km|floatformat }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}