{% extends "trainings/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}


<form action="{% url 'trainings:index' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ exampleForm.as_p }}
    <button type="submit">Submit training</button>
</form> 

<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
    {{ form.date }}
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script>


<h2>
    My location: {{ myLocation }} ({{ myLat}}, {{ myLng }})
</h2>
<br>
{{ map|safe }}

<table class=table>
    <tr>
        <th>Sport</th>
        <th>Location</th>
        <th>Time</th>
        <th>Distance</th>
    </tr>
    {% for training in distanceSet %}
    <tr>
        <td>{{ training.sport }}</td>
        <td>{{ training.adress }}</td>
        <td>{{ training.time }}</td>
        <td>{{ training.distance.km|floatformat }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}