{% extends "trainings/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Trainings
{% endblock title %}

{% block content %}
    <h2>
        TrainingBuddy | Activities
    </h2>
    <div id="map">
        {{ map|safe }}
    </div>

    <div id="filterForm">
    <form action="{% url 'trainings:index' %}" method="post" class="bootstrap4">
            {% csrf_token %}
            {{ trainingFilter }}
            <button type="submit">Filter</button>
    </form>
    </div>
    {% if distanceSet %}
        <table class=table>
            <tr>
                <th>Sport</th>
                <th>Location</th>
                <th>Time</th>
                <th>Distance [km]</th>
                <th>Spots available</th>
            </tr>
            {% for training in distanceSet %}
            <tr>
                <td>
                    <a href="{% url 'trainings:training' training.id %}">
                        {{ training.sport }}
                    </a>
                </td>
                <td>{{ training.adress }}</td>
                <td>{{ training.date }}</td>
                <td>{{ training.distance.km|floatformat }}</td>
                {% if training.participants == None %}
                    <td>0/{{ training.maxParticipants}}</td>
                {% elif training.participants == training.maxParticipants %}
                    <td>Fully booked</td>
                {% else %}
                    <td>{{ training.participants.count }}/{{ training.maxParticipants}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <div>
        No results
    </div>
    {% endif %}
{% endblock content %}