{% extends "trainings/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Session    
{% endblock title %}

{% block content %}
    <br>
    <h2>
        {{ sport }} at {{ adress }}
    </h2>
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                Starting time: {{ date }}
            </li>
            <li class="list-group-item">
                Description: {{ description }}
            </li>
            <li class="list-group-item">
                {{ participants.count }}/{{ training.maxParticipants}} spots available
            </li>
        </ul>
    </div>
            <div>
                <h2>Registered</h2>
            <ul class="list-group">
            {% for participant in participants %}
                <li class="list-group-item">{{ participant }} {{ participant.last_name }}</li>
                {% empty %}
                <li class="list-group-item">0/{{ training.maxParticipants}}</li>
            {% endfor %}
            </ul>
    </div>
    
    <div>    
            <form action="{% url 'trainings:toggleJoined' training.id %}" method = post>
                {% csrf_token %}
                {% if isRegistered %}
                    <input type="submit" value=Signout>  
                {% else %}
                    <input type="submit" value=Register>
                {% endif %}
            </form>
    </div>
    {% if isOrganizer %}
        <div>
            <form action="{% url 'trainings:deleteTraining' training.id %}" method = post>
                {% csrf_token %}
                    <input type="submit" value=Delete>
            </form>
        </div>
    {% endif %}
{% endblock content %}