{% extends "trainings/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Session    
{% endblock title %}

{% block content %}
    <br>
    <h2>
        {{ sport }} at {{ adress }}
    </h2>
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                Starting time: {{ date }}
            </li>
            <li class="list-group-item">
                Description: {{ description }}
            </li>
            <li class="list-group-item">
                {{ participants.count }}/{{ training.maxParticipants}} spots available
            </li>
        </ul>
    </div>
    <div id="map">
        {{ map|safe }}
    </div>
            <div>
                <h2>Participants</h2>
            <ul class="list-group">
            {% for participant in participants %}
                <li class="list-group-item">{{ participant }} {{ participant.last_name }}</li>
                {% empty %}
                <li class="list-group-item">No participant yet.</li>
            {% endfor %}
            </ul>
    </div>
    
    {% if not participants.count == training.maxParticipants %}
        <div class="button">    
                <form action="{% url 'trainings:toggleJoined' training.id %}" method = post>
                    {% csrf_token %}
                    {% if isRegistered %}
                        <input type="submit" value="Signout from activity">  
                    {% else %}
                        <input type="submit" value=Register>
                    {% endif %}
                </form>
        </div>
    {% endif %}
    {% if isOrganizer %}
        <div class="button">
            <form action="{% url 'trainings:deleteTraining' training.id %}" method = post>
                {% csrf_token %}
                    <input type="submit" value=Delete>
            </form>
        </div>
    {% endif %}
{% endblock content %}