table {
    margin-top: 25px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

#map {
    margin-top: 25px;
    margin-bottom: 25px;
}

#filterForm {
    margin-top: auto;
    margin-bottom: auto;
}

.list-group {
    margin-top: 25px;
}